


@model IEnumerable<PIDEV_NET.Models.JackPot>
@{
    ViewBag.Title = "PrintPDF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PrintPDF</h2>


<style>
    thead {
        background-color: black;
        color: white
    }

    table {
        border: 1px solid black;
    }

    td, th {
        padding: 5px;
        font-size: 14px;
    }
</style>

<table class="table table-bordered table-striped" border="1" style="border-color:black">
    <thead>
        <tr>

            <th>Amount</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Amount</td>

            </tr>

        }
    </tbody>
</table>
